<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ todo_list_detail.name }}</title>
</head>
<body>
  <main>
    <div>
      <h1>{{ todo_list_detail.name }}</h1>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
          </tr>
        </thead>
      </table>
    </div>
    <table>
      {% for todo in todo_list_detail.items.all %}
        <tr>
          <td>{{ todo.task }}</td>
          <td>{{ todo.due_date|date:"M j, Y" }}</td>
        </tr>
      {% endfor %}
    </table>
  </main>
  </body>
</html>
